<!doctype html>

<html>
	
	<head>
		<title>Alpha-Blog</title>
		<link rel = "stylesheet" type="text/css" href = "style.css"></link>
	</head>
		
	<header>
		<h1>Alpha-Blog</h1>
		<center>
			<ul>
			  <li><%= link_to 'Home', root_path %></li>
				<li>About</li>
			</ul>
			<%= image_tag'brooklyn.jpg', width: 700 %>
		</center>
	</header>

	<body>
		<p class="center-justified">
	 		What's all this about?
		</p>
	</body>

	<footer>
		My favorite Brooklyn spot: Peter Lugers
	</footer>

<html>