<!doctype html>

<html>
	
	<head>
		<title>Alpha-Blog</title>
		<link rel = "stylesheet" type="text/css" href = "style.css"></link>
	</head>
		
	<header>
		<h1>Alpha-Blog</h1>
		<center>
			<ul>
			  <li>Home</li>
			  <li><%= link_to 'About', about_path %></li>
			</ul>
			<%= image_tag'FiDi.jpg', width: 700 %>
		</center>
	</header>

	<body>
		<p class="center-justified">
	 		Welcome to my home of New York City! There's a lot to do here. I would 
	 		encourage taking the Staten Island Ferry to get a free view of the Statue 
	 		of Liberty! ...do not get off at Staten Island.
		</p>
	</body>

	<footer>
		My favorite Manhattan spot: Skylark
	</footer>

<html>