*{
    font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
    background-color: #fff;
}

header h1 {
    text-align: center;
    color: #000000;
    margin: 0 0 0 0;
}

ul {
  padding: 0;
}

li {
    display: inline;
    margin: 10px 10px 10px 10px;
}

.center-justified {
    text-align: justify;
    margin: 0 auto;
    width: 700px;
}

footer {
    text-align: center;
    font-style: italic;
    margin: 30px 0 0 0;
}